.details {
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(0, 0, 0, 0,2);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.detail-wrapper {
  background-color: white;
  border-radius: 10px;
  padding: 2rem 1rem;
  min-width: 90vw;
  min-height: 50vh;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.title {
  padding: 0 1rem;
  font-size: 24px;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 10px;
  outline: none;
}

.title:focus {
  border-color:#dedede;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

@media (min-width: 728px ) {
  .detail-wrapper {
    min-width: 70vw;
  }
}

@media (min-width: 1024px ) {
  .detail-wrapper {
    min-width: 50vw;
  }
}

@media (min-width: 1366px ) {
  .detail-wrapper {
    min-width: 35vw;
  }
}